body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f3f3f3;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
  }

@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');


* {
  font-family: 'Libre Franklin', sans-serif;
}

#wrapper {
    max-width: 1200px;
    width: 90vw;
    margin: auto;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    width: 90vw;
    margin: auto;
}
  
  .navbar {
    width: 100%;
    background-color: #274C77;
    height: 60px;
    display: flex;
    color: white;
  }
  
  .logo-space {
    margin: 0;
    padding-left: 20px;
    flex-grow: 1;
  }
  
  .item-count {
    text-align: right;
    padding-right: 20px;
    flex-grow: 1;
  }
  
  .header {
    height: 400px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url('./images/header-image.jpg');
    background-size: cover;
    background-position: middle;
  }

  .dark-header {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.6);
  }
  
  .header-text-box {
    text-align: center;
    padding-bottom: 100px;
    color: white;
    z-index:100;
  }
  
  .header-text-box h3 {
    margin: 0;
    padding: 0;
    font-size: 3em;
    font-family: 'Arima Madurai', cursive;

  }

  .header-image {
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -100;

  }
  
  .header-text-box button {
    padding: 15px;
    border: none;
    background-color: green;
    color: white;
  }

.days-container {
    background-color: #d9d9d9;
    padding-top: 20px;
    padding-bottom: 10px;
}

#days-wrapper {
    background-color: white;
    display: flex;
    border-bottom: 1px solid #dddddd;
    justify-content: center;
    width: 100%;
    box-shadow: 0 3px 10px #9999996e;
}
  
  .days-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    margin-top: 20px;
    max-width: 1200px;
    width: 100%;
  }

  .fixed-nav {
    position: fixed;
    z-index: 100;
    top: 0;    
    width: 90%;
    margin: auto;
  }

  .days-sticky {
      position: fixed;
      top: 0;
  }
  
  .days-button {
    padding: 15px;
    background-color: #E7ECEF;
    border: none;
    margin: 5px;
    color: #274C77;
    font-size: 1em;
    transition: 0.1s;
    outline: none;
    cursor: pointer;
    width: 20%;
    height: 33px;
  }
  
  .selected-button {
    padding: 15px;
    background-color:#aa305d;
    border: none;
    height: 33px;
    margin: 5px;
    color: white;
    font-size: 1em;
    transition: 0.1s;
    outline: none;
    cursor: pointer;
    width: 20%;
    display: flex;
  }

.check {
    width: 30px;
    height: 100%;
    margin-right: 10px;
}

.check-none {
    display: none;
}

.day-food-title {
    font-size: 0.8em;
}

.selected-button-success {
    padding: 15px;
    background-color:#6096BA;
    border: none;
    margin: 5px;
    color: white;
    font-size: 1em;
    transition: 0.1s;
    outline: none;
    cursor: pointer;
    width: 20%;
    display: flex;
    height: 33px;
}
  
  .selected-button:focus {
    outline: none;
  }
  
  
  .days-button:hover {
    background-color: #274C77;
    transition: 0.1s;
    color: white;
    outline: none;
  }
  
  .main-wrapper {
    max-width: 1024px;
    width: 90%;
    height: auto;
    margin: auto;
  }
  
  .food-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
  }
  
  .food-box {
    background-color:white;
    margin: 10px;
    height: 250px;
    width: 280px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .food-box:hover {
    box-shadow: 0px 3px 8px lightgray;
    transition: 0.2s;
  }
  
  .food-image-box {
    width: 100%;
    height: 189px;
    background-color: gray;
  }

  .food-image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .food-box-selected {
    background-color:white;
    margin: 10px;
    width: 280px;
    height: 250px;
    cursor: pointer;
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
  }

  .food-box-selected .select-button {
      background-color: #C20047;
      transform: rotate(45deg)
  }
  
  .food-lower-box {
    display: flex;
    padding: 0;
    margin: 0;
  }


  
  .food-text-box {
    padding: 15px;
    width: 80%;
  }
  
  .food-price {
    font-size: 0.7em;
  }
  
  .select-button-place {
    width: 25%;
    text-align: center;
    display: flex;
    align-items: center;
    z-index: 100;
  }
  
  .select-button {
    background-color: #274C77;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    border: none;
    margin: auto;
    font-size: 1.2em;
    transition: 0.2s;
    z-index: 10;
  }

  .unselect-button {
    background-color: #C20047;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    border: none;
    margin: auto;
    font-size: 1.2em;
    transition: 0.2s;
    z-index: 10;
    transform: rotate(45deg);
    cursor: pointer;
  }
  
  .select-button:hover {
    background-color: #6096BA;
    transition: 0.2s;
    width: 44px;
    height: 44px;
    cursor: pointer;

  }
  
  .select-button:focus {
    outline: none;
  }
  
  
  .day-menu-box {
    text-align: center;
    margin: 50px auto;  
  }
  
  .day-title {
    font-size: 3em;
    margin: 0;
    font-family: 'Arima Madurai', cursive;
    color: #437798;
  }
  
  .short-line {
    border-top: 3px solid gray;
    width: 50px;
    margin-top: 30px;
  }
  
  .logo-box {
    margin-bottom: 10px;
  }
  
  .vegan {
    background-color: #5EBA48;
    width: auto;
    border-radius: 50px;
    font-size: 0.7em;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    position: absolute;
    color: white;
    box-shadow: 0 3px 6px #494949;
  }

.modal-close-button {
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
}
  
.modal {
  background-color: white;
  position: fixed;
  width: 30%;
  left: 0;
  top: 0;
  margin-left: 35%;
  margin-top: 5%;
  height: 350px;
  z-index: 120;
  animation: fade-in 0.3s forwards;
}



.modal-close-button img {
  width: 30px;
  opacity: 0.4;
}
.modal-text-box-container {
  background-color: white;
  padding: 20px;
}

.modal-image-box {
  min-width: 300px;
  width: 100%;
  height: 100%;
  background-color: green;
}

.modal-image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-text-box {
  width: 100%;
}

.modal-text-box h3 {
  margin-bottom: 0;
  font-size: 1.2em;
  margin-top: 0;
  padding-top: 10px;
}


.modal-text-box p {
  margin-top: 0;
  padding-top: 5px;
}
  
  .modal-select-button {
    background-color: #274C77;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    border: none;
    font-size: 1.2em;
    transition: 0.2s;
    z-index: 10;
  }
  
  .modal-select-button:hover {
    background-color: #C20047;
    transition: 0.2s;
    cursor: pointer;
  }
  
  .modal-select-button-place {
    text-align: center;
    display: flex;
    align-items: center;
    position: fixed;
    top: 108%;
    right: 5%;
  }
  


  .day-food-title {
    font-size: 0.8em;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translate3D(0, 5%, 0);
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translate3D(0, 0, 0);
    }
  }
  
  .modal-hidden {
    display: none;
  }
  
  .dark {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top:0;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 100;
  
  }
  
  .hidden-dark {
    display: none;
  }

.subscribe-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-email {
    border: 1px solid #f3f3f3;
    width: 200px;
    padding: 10px 20px;
}

.subscribe-submit {
    border: 1px solid #274C77;
    background-color:#274C77;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}

.subscribe {
    text-align: center;
    height: 300px;
    margin-top: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    background-color: #274C77;
    padding: 50px 20px;
    color: white;
    display: flex;
    justify-content: center
}



.footer-column {
    width: 150px;
}

.footer-list {
    list-style-type: none;
    font-size: 0.8em;
    line-height: 2em;
}

.social-media {
    flex-grow: 1;
    height: 100px;
}

.social-media-list {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    padding-right: 50px;
}

.social-media-list li {
    padding: 0 20px;
}

.social-media-list .icon-box {
    border: 1px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: transparent;
    color: white;
    cursor: pointer;

}

.social-media-list .icon-box:hover {
    animation-name: spin-social-media;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.social-media-list img {
    height: 20px;
    padding-top: 2px;
}

@keyframes spin-social-media {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(20deg);
    }
  }

  .cart-container {
      text-align: center;
      margin: auto;
      padding: 50px 0;
  }

  .cart-button {
      padding: 20px;
      background-color: #274C77;
      color: white;
      border: none;
      font-size: 1em;
  }

  .cart-hide {
      display: none;
  }

.show-cart {
    display: block;
    background-color: white;
    position: fixed;
    width: 30%;
    left: 0;
    top: 0;
    margin-left: 35%;
    margin-top: 10%;
    z-index: 120;
    animation: fade-in 0.3s forwards;
    
}

.cart-list {
    padding: 20px 0;
    margin: auto;
    width: 100%;
    border-spacing: 0;
    border-bottom: 1px solid #efefef;
}

.cart-modal-day {
    font-size: 0.7em;
    color: #ababab;
}

.remove-item {
    margin-left: 15px;
    padding-top: 3px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.remove-item:focus {
    outline: 0;
}

.cart-modal-close, .cart-modal-checkout {
    padding: 15px;
    border: none;
    margin: 5px;
}

.cart-modal-close {
    background-color: #ededed;

}

.cart-modal-checkout {
    background-color: #274c77;
    color: white;
}

.cart-list-container {
    background-color: white;
    margin: auto;
    padding: 10px;
    border: 1px solid #ececec;
    padding: 30px;
    box-shadow: 0 3px 6px #30303070;
}

.remove-item-td {
    width: 20px;    
}

.cart-list td {
    text-align: left;
}

.table-price {
    width: 50px;
    text-align: right !important;
}

.total-bill {
    padding: 20px 0;
}

.table-title, .table-price {
    font-size: 0.8em;
}

.mobile-nav {
    height: 100px;
    background-color: red;
    width: 90vw;
}

@media only screen 
  and (max-device-width: 1000px) {
    .modal {
      width: 80%;
      margin-left: 10%;
    }

    /* .modal-image-box {
      min-width: 300px;
      width: 100%;
      height: 100%;
      background-color: green;
    }

    .modal-text-box-container {
      background-color: white;
      width: 100%;
    } */
}
